extends layout

block content
  link(rel="stylesheet", href="/stylesheets/index.cs")
  -if(flag == 1)
    .alert.alert-danger(role="alert") #{message}
  -if(flag == 0)
    .alert.alert-success(role="alert") #{message}
  .row
    .col-sm-4
    .col-sm-4
      include include/registration
  